---
name: "Auto Labeler"
on:
  pull_request_target:
    types: [opened, reopened, edited, synchronize]
permissions:
  contents: read
jobs:
  auto_labeler:
    permissions:
      contents: read
      pull-requests: write
    uses: github/ospo-reusable-workflows/.github/workflows/auto-labeler.yaml@a53fd45227459b1584ce1cf28b1274dc2cb0a02e
    with:
      config-name: release-drafter.yml
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
